<head>
    <title>OPT OUT</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="red" />
    
    <style>
      *{
        margin: 0;
        padding: 0;
      }
      h1{
        font-weight: 100;
        color: teal
      }

      .Container{
        text-align: center;
        padding-top: 20px;

      }
      nav{
        padding: 30px;
        box-shadow: 1px 0px 14px #eee


      }
      h2{
        font-weight: 100;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        margin: 50px 0px 20px;
        color: #444;

      }
      input{
        padding: 10px;
        border: none;
        max-width: 800px;
        outline: none;
        width: 100%;
        margin-bottom: 20px;
        border-bottom: 1px solid #eee;
      }
      button{
        padding: 15px;
        cursor: pointer;
        border: none;
        transition: .4s;
        /* transition: .4s; */
        background: white;
        color: teal;
        border-radius: 10px;
      
        border: 1px solid teal;
        

      }
      button:hover{
        color: white;
        transition: .4s;
        background: teal;
        border: 1px solid white;
      
      }
      button:disabled, button:hover:disabled{
        color: #bbb;
        background: #eee;
      }
    </style>
  </head>
  <body>

    <!--Any html message you want to show to people while they wait the 2 seconds for the redirection.
  
  Can use an image here or a gif. Can be the same image as above with text on it saying loading your offer now or something.
  
  <img src="./images/prefetch1.jpg" /> -->
  <nav>
    <h1>Opt-out.cloud</h1>
  </nav>
  <div class="Container">
    <img src="./images/noemail1.jpg" width="200"/>
    <h2>You have been successfully Unsubscribed</h2>
  </div>
  
  
  </body>
  